<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="icon" href="/img/weather-icon.png" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        {{>header}}
        <p>This is the help page for the Weather App. Enter a location in the input box on the main page and click "Get Weather" to see the current weather for that location.</p>
    </div>
    {{>footer}}
</body>
</html>